/******************************************************************************

per button styles must be at the end
must have 'button' at beginning

app and file names are stripped of special characters, app names are lowercase
spaces and dashes are replaced with hyphens, and periods with underscores
eg. "LibreOffice Draw" becomes "libreoffice-draw"
eg. "file.png" becomes "file_png"

Element hierarchy

#nwg-drawer
    #main-box
        #search-box
            #search
        #categories-box
            #categories-content
        #pinned-seperator
        #pinned-box
            #pinned-content
        #result-box
            #
        #file-box - is not actually the outer, but the inner / rename accordingly

dotted borders represent items not idetified by this CSS
dashed borders represent container elements
solid borders represent normal display elements
this representation isn't perfect and it's opinionated, feel free to break it

******************************************************************************/

/* hiearchy colors */
@define-color depth-0           #fff;
@define-color depth-0-dark      #000;

@define-color depth-1           #98b8fe; /* blue */
@define-color depth-1-dark      #192236;

@define-color depth-2           #a5c77a; /* green */
@define-color depth-2-dark      #1a2613;

@define-color depth-3           #f69ba6; /* red */
@define-color depth-3-dark      #331b1c;

@define-color depth-4           #c3a9f4; /* purple */
@define-color depth-4-dark      #251e32;

@define-color depth-5           #e0b066; /* gold */
@define-color depth-5-dark      #311e0d;

@define-color depth-6           #62d0b7; /* teal */
@define-color depth-6-dark      #072922;

@define-color depth-7           #ff8cd2; /* pink */
@define-color depth-7-dark      #321a23;


    /* wrapping back around from depth-1 */
@define-color depth-8           @depth-1;
@define-color depth-8-dark      @depth-1-dark;

/* feature test colors */
@define-color highlight1        #21aff5; /* light blue */
@define-color highlight2        #438fbc;

/* debug colors */
@define-color undefined1        rgba(128,128,128,0.45);
@define-color undefined2        rgba(212,212,212,0.45);
@define-color broken1           rgba(255,64,12,0.2);
@define-color broken2           rgba(255,250,248,0.2);
@define-color broken3           @depth-7;


/* global test style. catches all unstyled elements */
* {
    min-width: 0;
    min-height: 0;
    padding: 1pt;
    margin: 1pt;
    color: @undefined2;
    background: none;
    background-color: @undefined1;
    border: 1.5pt dotted @undefined2;
    outline: none;
    box-shadow: none;
    font-size: 10pt;
    font-family: monospace;
    opacity: 1;
}
hbox, vbox, box, container, widget, combobox, notebook { border-style: dashed; } /* container elements */
window, button, image, label, entry, scrollbar, spinbutton { border-style: solid; border-radius: 6pt} /* display elements */


/* all statically named styles */
#nwg-drawer {
    /* doesn't accept width, height, padding, or margins */
    color: @depth-0;
    background-color: @depth-0-dark;
    border-color: @depth-0;
    border-radius: 12pt; /* window compositing test */
}

#main-box {
    margin: 12pt;
    padding: 4pt;
    color: @depth-1;
    background-color: @depth-1-dark;
    border-color: @depth-1;
}

#search-box {
    margin: 6pt;
    padding: 4pt;
    color: @depth-1;
    background-color: @depth-2-dark;
    border-color: @depth-2;
}

#search {
    margin: 6pt;
    padding: 4pt;
    color: @depth-3;
    background-color: @depth-3-dark;
    border-color: @depth-3;
}

#search image {
    margin: 6pt;
    padding: 4pt;
    color: @depth-4;
    background-color: @depth-4-dark;
    border-color: @depth-4;
}

#categories-box {
    min-width: 0;
    min-height: 0;
    margin: 6pt;
    padding: 4pt;
    color: @depth-2;
    background-color: @depth-2-dark;
    border-color: @depth-2;
}

#categories-box button {
    margin: 6pt;
    padding: 4pt;
    color: @depth-3;
    background-color: @depth-3-dark;
    border-color: @depth-3;
}

#categories-box button box {
    margin: 6pt;
    padding: 4pt;
    color: @depth-4;
    background-color: @depth-4-dark;
    border-color: @depth-4;
}

#categories-box button image,
#categories-box button label {
    margin: 6pt;
    padding: 4pt;
    color: @depth-5;
    background-color: @depth-5-dark;
    border-color: @depth-5;
}

#pinned-seperator {
    margin: 6pt;
    padding: 4pt;
    color: @depth-2;
    background-color: @depth-2-dark;
    border-color: @depth-2;
}

#pinned-box {
    margin: 6pt;
    padding: 4pt;
    color: @depth-2;
    background-color: @depth-2-dark;
    border-color: @depth-2;
}

#pinned-content {
    margin: 6pt;
    padding: 4pt;
    color: @depth-3;
    background-color: @depth-3-dark;
    border-color: @depth-3;
}

#pinned-content button {
    margin: 6pt;
    padding: 4pt;
    color: @depth-4;
    background-color: @depth-4-dark;
    border-color: @depth-4;
}

#pinned-content button box {
    margin: 6pt;
    padding: 4pt;
    color: @depth-5;
    background-color: @depth-5-dark;
    border-color: @depth-5;
}

#pinned-content button image,
#pinned-content button label {
    margin: 6pt;
    padding: 4pt;
    color: @depth-6;
    background-color: @depth-6-dark;
    border-color: @depth-6;
}

#result-box {
    margin: 6pt;
    padding: 4pt;
    color: @depth-2;
    background-color: @depth-2-dark;
    border-color: @depth-2;
}

#result-content {
    margin: 6pt;
    padding: 4pt;
    color: @depth-2;
    background-color: @depth-3-dark;
    border-color: @depth-3;
}

#result-content-gutters {
    margin: 6pt;
    padding: 4pt;
    color: @depth-4;
    background-color: @depth-4-dark;
    border-color: @depth-4;
}

#app-box {
    margin: 6pt;
    padding: 4pt;
    color: @depth-4;
    background-color: @depth-4-dark;
    border-color: @depth-4;
}

#app-content {
    margin: 6pt;
    color: @depth-5;
    background-color: @depth-5-dark;
    border-color: @depth-5;
}

#app-content button {
    margin: 6pt;
    padding: 4pt;
    color: @depth-6;
    background-color: @depth-6-dark;
    border-color: @depth-6;
}

#app-content button box {
    margin: 6pt;
    padding: 4pt;
    color: @depth-7;
    background-color: @depth-7-dark;
    border-color: @depth-7;
}

#app-content button image,
#app-content button label {
    margin: 6pt;
    padding: 4pt;
    color: @depth-8;
    background-color: @depth-8-dark;
    border-color: @depth-8;
}

#files-box {
    margin: 6pt;
    padding: 4pt;
    color: @depth-4;
    background-color: @depth-4-dark;
    border-color: @depth-4;
}

#files-box button {
    margin: 6pt;
    padding: 4pt;
    color: @depth-5;
    background-color: @depth-5-dark;
    border-color: @depth-5;
}

#files-box button image,
#files-box button label {
    margin: 6pt;
    padding: 4pt;
    color: @depth-6;
    background-color: @depth-6-dark;
    border-color: @depth-6;
}

#power-bar {
    margin: 6pt;
    padding: 4pt;
    color: @depth-2;
    background-color: @depth-2-dark;
    border-color: @depth-2;
}

#power-bar button {
    margin: 6pt;
    padding: 4pt;
    color: @depth-3;
    background-color: @depth-3-dark;
    border-color: @depth-3;
}

#power-bar button image,
#power-bar button label {
    margin: 6pt;
    padding: 4pt;
    color: @depth-4;
    background-color: @depth-4-dark;
    border-color: @depth-4;
}

#status-line-wrapper {
    margin: 6pt;
    padding: 4pt;
    color: @depth-2;
    background-color: @depth-2-dark;
    border-color: @depth-2;
}

#status-label {
    margin: 6pt;
    padding: 4pt;
    color: @depth-3;
    background-color: @depth-3-dark;
    border-color: @depth-3;
}


/* button style names and tests */

/* categories */

/* All */                   button#all                  {}
/* Accessories */           button#utility              { background: @highlight2; border-color: @highlight1; }
/* Programming */           button#development          {}
/* Games */                 button#game                 {}
/* Graphics */              button#graphics             {}
/* Internet and Network */  button#internet-and-network {}
/* Office */                button#office               {}
/* Sound and Video */       button#audio-video          {}
/* System Tools */          button#system-tools         {}
/* Other */                 button#other                {}

/* example applications */
button#app-dolphin,
button#app-discord,
button#app-telegram,
button#app-signal,
button#app-steam,
button#app-librewolf-bin,

/* example files and directories */
button#Documents-todo_md,
button#Documents-Templates
{ background: @highlight2; border-color: @highlight1; }



        /* /`) (`\ *\          
MUNCH   \_/  / \  \_/   
 CRUNCH     (.–.)      CRUNCH
         .~(@) (@)~.  MUNCH     
        (  \_>M<_/  )        
       (\_)>._,~.<(_/) 
      (\_)>|DEBUG|<(_/) 
\****~-\__)>_____<(__/-~****/

#broken {
    background: repeating-linear-gradient(
        35deg,
        @broken1,
        @broken1 12pt,
        @broken2 14pt,
        @broken2 24pt);
    border: 2pt double @broken3;
}

#close-button { margin: 6pt; background: greenyellow; } /* where is it? */